
module mypol 1.0;

require {
	type var_run_t;
	type httpd_t;
	type docker_t;
	type httpd_config_t;
	class dir getattr;
	class file { read write };
}

#============= docker_t ==============
allow docker_t httpd_config_t:dir getattr;

#============= httpd_t ==============
allow httpd_t var_run_t:file { read write };
